# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
vendor
.pnpm-store

# Environment
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Editor / OS
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.patch
*.diff

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
requirements.txt
!.github/workflows/requirements.txt

# Build / Output
dist
.output
.vinxi
.vercel
.cache
build
out
target/
**/*.rlib
**/*.pdb
debug/
release/

# Database / Locally generated
*.db
*.sqlite
supabase/.temp
