fastapi>=0.104.1
uvicorn>=0.24.0
python-multipart>=0.0.6
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0
ultralytics
librosa>=0.10.1
numpy>=1.26.4
pandas
scikit-learn
pydantic>=2.5.0
python-dotenv>=1.0.0
aiohttp>=3.9.4
pillow>=11.1.0
cryptography>=42.0.0
setuptools>=84.0.0
wheel>=0.48.0
msgpack>=1.1.0


